<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.dao.UserDao">
	<insert id="save" parameterType="User" useGeneratedKeys="true"
		keyProperty="id">
		insert into t_user
		values(#{id},#{username},#{password},#{salt})
	</insert>
	<select id="findByUserName" parameterType="String"
		resultType="User">
		select id,username,password,salt from t_user where username
		= #{username}
	</select>
	<resultMap id="userMap" type="User">
		<id column="uid" property="id" />
		<result column="username" property="username" />
		<!-- 角色信息 -->
		<collection property="roles" javaType="list" ofType="Role">
			<id column="id" property="id" />
			<result column="rname" property="name" />
		</collection>
	</resultMap>
	<select id="findRolesByUserName" parameterType="String"
		resultMap="userMap">
		SELECT u.id uid,u.username,r.id,r.name rname
		FROM t_user u
		LEFT JOIN t_user_role ur
		ON u.id =ur.userId
		LEFT JOIN t_role r
		ON ur.roleId =r.id
		WHERE u.username=#{username}
	</select>
	
</mapper>